#photo-template div {
  /* float:left; */
  margin:30px;
  border:3px dotted black;
  display:table;
  width:300px;
  transition-duration:2s;
}

img{
  width: 250px;
  height: 250px;
} 
h1 {
  text-align:center;
}
p {
  text-align:center;
  width:100%;
  height:100%;
  display: table-cell;
  vertical-align:middle;
}
/* section{
  
} */

main{
  width: 960px;
  margin: 0 auto;
}
#photo-template{
  display: flex;
  flex-flow:row wrap;
  justify-content:left; 
}


#hovertoggle img:hover {
  width:450px;
  height:450px;
  transition-duration: 1s;
}